.app-header {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.app-header .spacer {
  flex-grow: 1;
}

.app-content {
  padding-top: 20px; /* Adjusted padding for the new card */
}

.glass-card {
  filter: grayscale(10%);
  position: sticky;
  top: 1rem;
  z-index: 1000;
}
