.app-header {
  display: flex;
  align-items: center;
  z-index: 1000;
}

.app-header .spacer {
  flex-grow: 1;
}

.app-content {
  padding-top: 20px; /* Adjusted padding for the new card */
}

.glass-card {
  filter: grayscale(10%);
  background-color: rgba(255, 255, 255, 0.1); /* Light mode background */
}

html.dark .glass-card {
  background-color: rgba(0, 0, 0, 0.1); /* Dark mode background */
}